* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D5DED9;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#position-pictures {
    text-align: center;
    padding-top: 50px; 
    padding-left: 50px;
    padding-right: 50px;
}

#white-box {
    width: 810px;
    height: 491px;
    margin: 0 auto;
    position: absolute;
    top: 711px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

nav {
    width: 810px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #A0A9A4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 50px;
}

ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 0 30px;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li a:hover {
    color: #000000;
    transform: scale(1.21);
}

#logo-pic {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#deals-text {
    color: #A0A9A4;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 1100px;
}

#pizza-hover-logo:hover {
    transform: scale(1.01);
}

#pizza-hover-logo {
    margin-left: 5.25%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}